<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<title>Triathlon race calculator</title>
	<meta name="description" content="Easy tool to determine your pace on triathlon race." />
	<link rel="shortcut icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="style.css" media="all" />
	<link rel="stylesheet" href="style_desktop.css" media="(min-width: 1216px)" />
	<link rel="stylesheet" href="style_tablet.css" media="(min-width: 675px) and (max-width: 1216px)"/>
	<link rel="stylesheet" href="style_smartphone.css" media="(max-width: 675px)"/>
</head>

<body>
    
    <header>
        <div id="title_desc">
            <h1><a href="/"><%= lingua.title %></a></h1>
        </div>
    </header>

    <div id="error_404">
        <h1>Oops!</h1>
        <p>Error 404. File not found. Please verify URL.</p>
        <a href="/">Return to home</a>
    </div>
</body>

</html>